@tailwind base;
@layer base {
    html {
      /* @apply text-gray; */
    }
}
@tailwind components;
@tailwind utilities;

body {
  background-color: "#30475E";
}

.ReactVirtualized__Grid__innerScrollContainer {
  max-width: none;
  max-height: none;
  height: auto;
  width: auto;
}

